# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json.*.backup

# --- Build/artefactos ---
dist/
build/
*.tsbuildinfo

# --- Tests / cobertura ---
coverage/
.jest/*
.vscode-test/

# --- SO / editor ---
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.log

# --- Entornos / secrets ---
.env
.env.*
!.env.example

# --- Misceláneo ---
.tmp/
.cache/
